
@mixin import_fonts( $font, $variants ){
	@each $variant in $variants{
		@font-face {
			font-family: #{$font}-#{$variant};
			src: url("./assets/fonts/#{$font}/#{$font}-#{$variant}.ttf");
		}
	}
}


@mixin position( $pos ){
	@if $pos == center {
		display: flex;
		justify-content: center;
		align-items: center;
	}@else if $pos == left {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}@else if $pos == right {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}